.main-section-banner{
    background-image: url("./Images/banner1.png");
    /*background-image: url("https://i.ibb.co/JnmTD12/banner.jpg");*/
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
    

}

.banner-back-color{   
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(148,148,255,1) 0%, rgba(209,147,251,1) 100%, rgba(195,108,233,0.8900804289544236) 100%);
    
    
}